# Sensitive credential configuration files (VERY IMPORTANT!)
src/config.properties
config.properties

# Maven build output folders
target/

# Local Eclipse configuration files
.settings/
.project
.classpath

# Java build output files
*.class